.setBorders {
    -fx-border-color: #b7b9c2;
}
.removeBorders {
    -fx-background-color: inherit;
}
.image:hover{
    -fx-background-color: red;
}
.image{
    -fx-border-radius: 20px;
}
.anchorPane {
    -fx-background-color: #e3e0e5;
}
.removeBorders:hover{
    -fx-background-color: #b1b1b1;
}