#sectionTitle {
    -fx-background: #b3d8ff;
}

.button:hover {
    -fx-background-color: #b1b1b1;
}

.button {
    -fx-background-color: inherit;
}

.text {
    -fx-text-decoration: overline;
}

.invisibleTab {
    -fx-border-color: inherit;
    -fx-background-color: inherit;
}

.tab {
    -fx-background-color: inherit;
    -fx-pref-width: 100px;
    -fx-alignment: center;
}

.tabLabel {
    -fx-text-fill: red;
}

.tab:selected {
    -fx-background-color: #cedfe5;
    -fx-border-bottom: inherit;
    -fx-border-top-color: red;

}

.tab:hover {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.colored {
    -fx-background-color: inherit;
    -fx-text-alignment: center;

}

TableColumn:hover {
    -fx-background-color: #fefc71;
}

.table {
    -fx-border-color: red;
}

.setBorders {
    -fx-border-color: #e5d4da;
}

/*
.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}*/

/*
.context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}
*/

/*
.over:hover{
    -fx-background-color: ;
}
*/
.item:hover {
    -fx-backround-color: inherit;
}

.button:selected {
    -fx-background-color: #f8ffa1;
}