

/*.cell {
    -fx-background-color: white;
    -fx-border-color: black;
}*/

.table-column {
    -fx-background-color: white;
    -fx-border-color: black;
}
.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}